<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Select Semester</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dark-mode.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">

</head>
<body>


<header>
  <h1>BCA Resource Hub</h1>
  <p>Select Semester</p>
  
</header>

<main class="container">
  <div class="semesters">
    <a href="/resources" class="uni-card">Semester 1</a>
    <a href="/resources" class="uni-card">Semester 2</a>
    <a href="/resources" class="uni-card">Semester 3</a>
    <a href="/resources" class="uni-card">Semester 4</a>
    <a href="/resources" class="uni-card">Semester 5</a>
    <a href="/resources" class="uni-card">Semester 6</a>
  </div>
</main>

<div class="back-home">
    <a href="/" class="btn-back">Back to Home</a>
</div>
<script src="{{ url_for('static', filename='js/dark-mode.js') }}"></script>

</body>
</html>
